In [1]:
pw = "0518"

N = input()
if pw != N :    
    print("비밀번호가 틀렸습니다. 다시 입력하세요.")
    N = input()

123
비밀번호가 틀렸습니다. 다시 입력하세요.
456

In [2]:
pw = "0518"

N = input()
while pw != N :    
    print("비밀번호가 틀렸습니다. 다시 입력하세요.")
    N = input()

123
비밀번호가 틀렸습니다. 다시 입력하세요.
456
비밀번호가 틀렸습니다. 다시 입력하세요.
789
비밀번호가 틀렸습니다. 다시 입력하세요.
0518

In [3]:
re = 1
a = int(input())
while a != 0 :
    re = re*a
    a = int(input())
print(re)

10
5
17
0
850

In [4]:
a="123456"
for i in a :
    print(i)

1
2
3
4
5
6

In [5]:
a="123456"
for i in a :
    print(i, end=' ')

1 2 3 4 5 6

In [6]:
color = ["red", "orange", "yellow", "green", "blue"]
for c in color :
    print(c)

red
orange
yellow
green
blue

In [7]:
stu=["서진", "소윤", "민수"]
for name in stu :
    print ("Hi", name)

Hi 서진
Hi 소윤
Hi 민수

In [8]:
for i in range(10) :
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [9]:
for i in range(1, 11) :
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [10]:
for i in range(1, 11, 2) :
    print(i, end=" ")

1 3 5 7 9

In [11]:
for i in range(1, 100) :
    if i%3 == 0 :
        print(i, end=" ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [12]:
for i in range(1, 11, 2) :
    print(i, end=" ")

1 3 5 7 9

In [13]:
n =[]
for i in range(1, 11) :
    n.append(i*i)
print(n)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
n =[]
for i in range(1, 101) :
    if i%3 == 0 :
        n.append(i)
print(n)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [15]:
for i in range(1, 11) :
    if i%3 == 0 :
        break
    print(i)

1
2

In [16]:
for i in range(1, 11) :
    if i%3 == 0 :
        continue
    print(i)

1
2
4
5
7
8
10

In [17]:
for i in range(1,101) :
    re = re + i
print(re)

5900